.pagination {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 35px;
}

.pageItem {
    margin: 2px;
    list-style-type: none;
    border: 2px solid #000;
}

.active {
    background-color: #7B68EE;
}

.pageLink {
    margin: 0;
    color: #483D8B;
}

